


/* Slider container */
.slider {
    width: 100%;
    position: relative;
    height: 40%;
    border-radius: 5px;
    max-width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: 1%;
    box-sizing: 10%;
  }
  
  /* Slider inner wrapper */
  .sliderInner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Individual slide */
  .sliderItem {
    min-width: 100%;
  }
  
  /* Images styling */
  .sliderItem img {
    border-radius: 3%;
    width: 100%;
    display: block;
  }
    